html,
body {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app-wrapper {
  font-family: 'Crete Round', serif;

  h1, h2 {
    font-weight: 700;
    letter-spacing: .09em;
    margin: 0;
    text-transform: uppercase;
    color: black;
  }

  p {
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
}

.header {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  z-index: 999;
  font-size: .675em;
  padding: 7px 10px;
}
.all-posts {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.post {
  width: 100%;
  background: black;

  .quote {
    display: block;
    position: absolute;
    font-size: 3em;
    color: white;
    top: 60px;
    left: 0;
    padding: 0 30px;
    text-align: left;
  }
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.3);
}

#video {
  border: none;
  display: block;
  height: 150%;
  left: 0;
  position: absolute;
  top: -25%;
  width: 150%;
}

.container {
  position: absolute; top: 60px; left: 30px; right: 0; bottom: 0;z-index: 999;
 }
