html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app-wrapper {
  font-family: 'Overpass Mono', monospace;

  h1, h2 {
    font-weight: 700;
    letter-spacing: .09em;
    margin: 0;
  }
  p {
    font-weight: 300;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.header {
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;

  .home-link {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}

.all-posts {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding-top: 60px;
  margin: 0 auto;

  .post {
    padding: 20px;
    width: 45%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    h2 {
      position: absolute;
      margin: 0;
      top: 48%;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.category-posts {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding-top: 60px;
  margin: 0 auto;

  .post.category {
    padding: 20px;
    width: 45%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .image {
      position: relative;
      z-index: 10;
      img {
        display: block;
        width: 100%;
      }
    }
    .link {
      position: absolute;
      top: 50%;
      animation: rot 18s infinite linear;
      animation-direction: alternate;
    }

    &:nth-child(even) {
      .link {
        animation: rot 18s infinite linear reverse;
      }
    }
  }
}

@keyframes rot {
  from {
    transform: rotate(10deg)
             translate(-10px)
             rotate(120deg);
  }
  to {
    transform: rotate(95deg)
               translate(-20px)
               rotate(-125deg);
  }
}

.primary-title {
  font-weight: 600;
  font-size: .75em;
  position: fixed;
  top: 30px;
  left: 30px;
  margin-top: 130px;
  transform: rotate(5deg);
  width: auto;
}

.post-detail-wrapper {
  padding-top: 100px;
}
