.all-posts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .post {
    width: 50%;

    img {
      display: block;
      width: 100%;
    }
  }
}
