html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app-wrapper {
  font-family: 'Overpass Mono', monospace;

  h1, h2 {
    font-weight: 700;
    letter-spacing: .09em;
    margin: 0;
  }
  p {
    font-weight: 300;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #FF1493;
  }
}

.header {
  text-align: center;
  padding: 20px;
  background: rgba(255,255,255, .7);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 60;

  .home-link {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}

.all-posts {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding-top: 60px;
  margin: 0 auto;

  .post {
    padding: 20px;
    width: 45%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    h2 {
      position: absolute;
      margin: 0;
      top: 48%;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.primary-title {
  font-weight: 600;
  font-size: .75em;
  position: fixed;
  top: 30px;
  left: 30px;
  margin-top: 130px;
  transform: rotate(5deg);
  width: auto;
}

.post-detail-wrapper {
  padding-top: 100px;
}
